.partner-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;

  .partner-list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;

    .partner-item {
      color: #896E6E;
      font-size: 28px;
      font-weight: 900;
    }
  }
}